<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <div class="image">
                            <img src="assets/layout/images/quiz.jpeg" width="150" alt="logo" style="border-radius: 10px;">
                        </div> 
                    </div>
                    <div class="my-2" style="margin-left: 400px; font-family: 'Courier New', Courier, monospace; ">
                        <h4 style="font-family: cursive;">ISI-TEST </h4>
                        <span style="font-style: italic;">Bonne chance {{name}}</span>
                    </div>
                </ng-template>               
            </p-toolbar>
            
            <p-toolbar styleClass="mb-1" >
                <ng-template pTemplate="left">
                    <div class="my-4">
                        <div class="score" >                         
                            <span style="font-style: italic;">{{points}} /{{totalPoints}} Points</span>
                        </div>
                    </div>
                    <div class="my-2" style="margin-left: 170px;">
                        <div class="question-remain">                            
                            <span style="font-style: italic;"  >Question {{currentQuestion}} sur {{quizes.length}}</span>
                        </div>
                    </div>
                    <div class="my-2" style="margin-left: 190px;">
                        <div class="timer">
                            <span style="font-style: italic;">Durée : {{coumpteur}} sec ⏱</span>
                        </div>
                    </div>
                </ng-template>               
            </p-toolbar>
            
            <div class="container mt-5">
                <div class="card">
                    
                    <ng-container *ngIf="!isQuizCompleted">                        
                        <div class="question">
                            <div class="card">
                                <h3>{{currentQuestion+1}}. {{quizes[currentQuestion]?.question}}</h3>
                            </div>
                            
                        </div>
                        <div class="options" >
                            <ol *ngFor="let option of quizes[currentQuestion]?.responses, let i=index" >
                                {{i+1}}
                                <li  (click)="answer(currentQuestion+1,option)" >
                                    <div appChangeBg [isCorrect]="option.correct" class="card" style="background-color: rgb(77, 125, 170); color: aliceblue;">
                                        {{option.reponse}}
                                    </div>
                                </li>
                                
                            </ol>
                        </div>
                        <div class="d-flex justify-content-between">
                            <button [disabled]="currentQuestion===0" (click)="previousQuestion()" pButton pRipple  icon="pi pi-angle-left" class="p-button-dark mr-2" style="margin-left: 300px;"></button>
                            <button (click)="resetQuiz()" pButton pRipple  icon="pi pi-refresh" class="p-button-dark mr-2" ></button>
                            <button [disabled]="currentQuestion===8" (click)="nextQuestion()" pButton pRipple  icon="pi pi-angle-right" class="p-button-dark mr-2" ></button>
                        </div>
                    </ng-container>
                    
                    <ng-container *ngIf="isQuizCompleted">
                        <div class="row d-flex justify-content-between">
                            <div lass="result text-left col-md-6 col-sm-12">
                                <img src="assets/layout/images/result.jpeg" width="350px" alt="logo" style="border-radius: 10px;" class="img-fluid col-sm-12 mx-auto">
                            </div>
                            <div class="result text-right col-md-6 col-sm-12" style="margin-top: -15em;">
                                <h3>Toutes nos félicitations !! <br>Vous avez terminé le quiz. <br>Ci-dessous est votre résultat:</h3>
                                <p >Nombre total de questions tentées  : {{quizes.length}} </p>
                                <p>Nombre total de réponses correctes : {{correctAnswer}} </p>
                                <p>Nombre total de réponses erronées  : {{inCorrectAnswer}} </p>
                                <p>Votre Score                        : {{points}} sur {{totalPoints}} Points </p>
                            </div>
                        </div>
                    </ng-container>                    
                </div>
            </div>
        </div>
    </div>
</div>
