<div class="grid">
    <p-toast></p-toast>
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toolbar styleClass="mb-4"  [hidden]="role === enseignantR || role === etudiant">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="Nouveau" icon="pi pi-plus" class="p-button-primary mr-2"
                        (click)="openNew()"></button>
                    </div>
                </ng-template>
                <ng-template pTemplate="right">
                    <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1200000" label="Import"
                    chooseLabel="Import" class="mr-2 inline-block"></p-fileUpload>
                    <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"></button>
                </ng-template>
            </p-toolbar>
            
            <p-table #dt [value]="enseignants" [columns]="cols" responsiveLayout="scroll" [rows]="12"
            [globalFilterFields]="['name','country.name','representative.name','status']" [rows]="12"
            [paginator]="true" [rowsPerPageOptions]="[12,20,30]" [showCurrentPageReport]="true"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            selectionMode="multiple" [rowHover]="true" dataKey="id">
            <ng-template pTemplate="caption">
                <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                    <h5 class="m-0">Liste d'enseignants</h5>
                    <span class="block mt-2 md:mt-0 p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..."
                        class="w-full sm:w-auto" />
                    </span>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="code"># <p-sortIcon field="code"></p-sortIcon></th>
                    <th pSortableColumn="nom">Nom <p-sortIcon field="name"></p-sortIcon></th>
                    <th pSortableColumn="postnom">Postnom <p-sortIcon field="postnom"></p-sortIcon></th>
                    <th pSortableColumn="prenom">Prenom <p-sortIcon field="prenom"></p-sortIcon></th>
                    <th pSortableColumn="genre">Genre<p-sortIcon field="genre"></p-sortIcon></th>
                    <th pSortableColumn="niveau">Niveau d'etude<p-sortIcon field="niveau"></p-sortIcon></th>
                    <th pSortableColumn="contact">Contact<p-sortIcon field="contact"></p-sortIcon></th>
                    <th pSortableColumn="mail">E-mail<p-sortIcon field="mail"></p-sortIcon></th>
                    <th >Photo</th>
                    <th> </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-enseignant>
                <tr>
                    <td style="width:15%; min-width:5rem;"><span class="p-column-title">Code</span>
                        {{enseignant.id}}
                    </td>
                    <td style="width:20%; min-width:12rem;">
                        <span class="p-column-title">Name</span>
                        {{enseignant.nom}}
                    </td>
                    
                    <td style="width:20%; min-width:12rem;">
                        <span class="p-column-title">Name</span>
                        {{enseignant.postnom}}
                    </td>
                    
                    <td style="width:20%; min-width:12rem;">
                        <span class="p-column-title">Name</span>
                        {{enseignant.prenom}}
                    </td>
                    
                    <td style="width:20%; min-width:12rem;">
                        <span class="p-column-title">Name</span>
                        {{enseignant.genre}}
                    </td>   
                    
                    <td style="width:20%; min-width:12rem;">
                        <span class="p-column-title">Name</span>
                        {{enseignant.grade}}
                    </td>                   
                    
                    <td style="width:20%; min-width:12rem;">
                        <span class="p-column-title">Name</span>
                        {{enseignant.contact}}
                    </td>                   
                    
                    <td style="width:20%; min-width:12rem;">
                        <span class="p-column-title">Name</span>
                        {{enseignant.mail}}
                    </td>                   
                    <td >
                        
                        <img id="profile" [src]="enseignant.photo" alt="image">
                    </td>                   
                    
                    <td  [hidden]="role === enseignant || role === etudiant">
                        <div class="flex">
                            <button pButton pRipple icon="pi pi-pencil"
                            class="p-button-rounded p-button-primary mr-2"
                            (click)="edit(enseignant.id)"></button>
                            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger"
                            (click)="deleteSelected(enseignant.id)"></button>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <p-dialog [(visible)]="enseignantDialog" [style]="{width: '450px'}" header="Enseignant" [modal]="true"
    class="p-fluid">
    <ng-template pTemplate="content">
        <form [formGroup]="enseignantForm">
            <div class="grid p-fluid mt-3">
                <div class="field col-12 md:col-6">
                    <span class="p-float-label">
                        <input type="text" 
                        id="nom" 
                        name="nom"
                        formControlName="nom"
                        required
                        pInputText>
                        <label for="inputtext">Nom</label>
                    </span>
                    <small
                    class="p-error"
                    *ngIf="
                    enseignantForm.controls['nom'].dirty &&
                    enseignantForm.hasError('required', 'nom')
                    "
                    >* nom obligatoire.</small
                    >
                </div>
                
                <div class="field col-12 md:col-6">
                    <span class="p-float-label">
                        <input type="text" 
                        id="postnom" 
                        name="postnom"
                        formControlName="postnom"
                        required
                        pInputText>
                        <label for="inputtext">Post-nom</label>
                    </span>
                    <small
                    class="p-error"
                    *ngIf="
                    enseignantForm.controls['postnom'].dirty &&
                    enseignantForm.hasError('required', 'postnom')
                    "
                    >* postnom obligatoire.</small
                    >
                </div>
                
                <div class="field col-12 md:col-6">
                    <span class="p-float-label">
                        <input type="text" 
                        id="prenom" 
                        name="prenom"
                        formControlName="prenom"
                        required
                        pInputText>
                        <label for="inputtext">Prénom</label>
                    </span>
                    <small
                    class="p-error"
                    *ngIf="
                    enseignantForm.controls['prenom'].dirty &&
                    enseignantForm.hasError('required', 'prenom')
                    "
                    >* prenom obligatoire.</small
                    >
                </div>
                
                <div class="field col-12 md:col-6">
                    <span class="p-float-label">
                        <p-dropdown inputId="dropdown"
                        [autoDisplayFirst]="false" 
                        [options]="niveaux"
                        optionLabel="label"
                        id="grade"
                        name="grade"
                        required
                        formControlName="grade">
                    </p-dropdown>
                    <label for="inputtext">Niveau d'étude</label>
                </span>
                <small
                class="p-error"
                *ngIf="
                enseignantForm.controls['grade'].dirty &&
                enseignantForm.hasError('required', 'grade')
                "
                >* grade obligatoire.</small
                >
            </div>
            
            <div class="field col-12 md:col-6">
                <span class="p-float-label">
                    <p-dropdown inputId="dropdown"
                    [autoDisplayFirst]="false" 
                    [options]="sexes"
                    optionLabel="label"
                    id="genre"
                    name="genre"
                    required
                    formControlName="genre">
                </p-dropdown>
                <label for="inputtext">Genre</label>
            </span>
            <small
            class="p-error"
            *ngIf="
            enseignantForm.controls['genre'].dirty &&
            enseignantForm.hasError('required', 'genre')
            "
            >* genre obligatoire.</small
            >
        </div>
        
        <div class="field col-12 md:col-6">
            <span class="p-float-label">
                <input type="text" 
                id="contact" 
                name="contact"
                formControlName="contact"
                required
                pInputText >
                <label for="inputtext">Contact</label>
            </span>
            <small
            class="p-error"
            *ngIf="
            enseignantForm.controls['contact'].dirty &&
            enseignantForm.hasError('required', 'contact')
            "
            >* contact obligatoire.</small
            >
        </div>
        
        <div class="field col-12 md:col-6">
            <span class="p-float-label">
                <input type="text" 
                id="mail" 
                name="mail"
                formControlName="mail"
                required
                pInputText >
                <label for="inputtext">E-mail</label>
            </span>
            <small
            class="p-error"
            *ngIf="
            enseignantForm.controls['mail'].dirty &&
            enseignantForm.hasError('required', 'mail')
            "
            >* mail obligatoire.</small
            >
        </div>
        
        <div class="col-6 "> 
            <div class="p-col-12 p-md-12">
                <div class="p-field p-grid">
                    <img id="profil"  [src]="image_url">
                    <input hidden class="d-none" id="file" 
                    formControlName="file" name="file" 
                    type="file" accept="image/*" #file
                    (change)="onImageChanged(file.files)">
                </div>
            </div>
            
            <div class="p-col-12 p-md-12">
                <div class="p-field p-grid">
                    <button pButton type="button" label="Importer une image"
                    class="p-button-outlined" 
                    (click)="file.click()"></button>
                    
                </div>
            </div> 
        </div>
        
    </div>
</form>
</ng-template>

<ng-template pTemplate="footer">
    <button pButton pRipple label="Fermer" icon="pi pi-times" class="p-button-text"
    (click)="hideDialog()"></button>
    <button pButton pRipple label="Enregistrer" icon="pi pi-check" class="p-button-text"
    (click)="addEnseignant()"></button>
</ng-template>
</p-dialog>

<p-dialog [(visible)]="deleteDialog" header="Confirmation" [modal]="true" [style]="{width:'450px'}">
    <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span *ngIf="enseignant">Etes-vous sûr de supprimer <b>{{enseignant.nom}}</b>?</span>
    </div>
    <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="Non" (click)="deleteDialog = false"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Oui" (click)="delete(departement.id)"></button>
    </ng-template>
</p-dialog>
