<div class="grid">
    <div class="col-5" style="margin-left:280px;">
        <div class="card">
            <div>
                <h5>Bienvenue</h5>
                <label>Titre du cours</label><br>
                <input pInputText type="text" class="p-inputtext-sm" placeholder="Saisir le titre du cours"  style="width:390px;"/><br>
                <label>Pseudo</label><br>
                <input pInputText type="text" class="p-inputtext-sm" placeholder="Saisir un pseudo" style="width:390px;" /><br><br>
                <button routerLink="/conference/live" pButton pRipple label="Demarrer" icon="pi pi-play" class="p-button-primary mr-2"></button>
                <!-- <button pButton pRipple label="Annuler" icon="pi pi-trash" class="p-button-danger"></button> -->
            </div>
        </div>        
    </div>
</div>
