<div class="grid ">
    <p-toast></p-toast> 
    <div class="col-12">
        <div class="card px-6 py-6">
            <div   class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                
                <div class="col-12 md:col-4 p-fluid mt-3"> 
                    <div class="p-inputgroup">
                        <span class="p-float-label">
                            <p-dropdown
                            id="auditoireId"
                            name="auditoireId"
                            [filter]="true" 
                            filterBy="libelle" 
                            [showClear]="true"
                            [options]="auditoires"
                            optionLabel="libelle"
                            appendTo="body"
                            [(ngModel)]="live.auditoireId"
                            (onChange)="findCours($event)"
                            >
                        </p-dropdown>
                        <label for="inputtext">Auditoire</label>
                    </span>                    
                </div>
            </div>
            <div class="col-12 md:col-4 p-fluid mt-3"> 
                <div class="p-inputgroup">
                    <span class="p-float-label">
                        <p-dropdown
                        id="rue"
                        name="rue"
                        [options]="cours"
                        [filter]="true" 
                        filterBy="titre" 
                        [showClear]="true"
                        optionLabel="titre"
                        appendTo="body"
                        [(ngModel)]="live.libelle"
                        >
                    </p-dropdown>
                    <label for="inputtext">Cours</label>
                </span>                    
            </div>
        </div>
        <div class="col-12 md:col-4 p-fluid mt-3">
            <div class="p-inputgroup">
                <span class="p-float-label">
                    <input pInputText type="text"
                    class="p-inputtext-sm" 
                    id="description"
                    name="description"
                    [(ngModel)]="live.description"
                    />  
                    <label for="inputtext">Description</label>
                </span>                    
            </div>
        </div>
    </div>            
    <div   class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
        <div class="col-12 md:col-4 p-fluid mt-3" >  
            <div class="p-inputgroup">
                <span class="p-float-label">
                    <p-calendar
                    id="date"
                    name="date"
                    [(ngModel)]="live.date"
                    [showIcon]="true"
                    appendTo="body">
                </p-calendar>
                <label for="inputtext">Date</label>
            </span>                    
        </div>
    </div>
    <div class="col-12 md:col-4 p-fluid mt-3">    
        <div class="p-inputgroup">
            <span class="p-float-label">
                <p-calendar 
                [showTime]="true"
                hourFormat="24"
                [timeOnly]="true"
                [showIcon]="true"
                id="heureDebut"
                name="heureDebut"
                [(ngModel)]="live.heureDebut"
                appendTo="body">
            </p-calendar>
            <label for="inputtext">Heure debut</label>
        </span>                    
    </div>
</div>
<div class="col-12 md:col-4 p-fluid mt-3">
    <div class="p-inputgroup">
        <span class="p-float-label">
            <p-calendar 
            [showTime]="true"
            hourFormat="24"
            [timeOnly]="true"
            [showIcon]="true"
            id="heureFin"
            name="heureFin"
            [(ngModel)]="live.heureFin"
            appendTo="body">
        </p-calendar>
        <label for="inputtext">Heure fin</label>
    </span>                    
</div>
</div>
</div>  
<div class="button-container">
    <button  pButton pRipple 
    label="Demarrer la sceance"
    icon="pi pi-play" 
    class="p-button-primary mr-2" 
    (click)="addLive()"
    > </button>
</div>
</div>
</div> 
<!-- routerLink="/conference/live" -->