<div class="grid">
    <p-toast></p-toast>
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toolbar styleClass="mb-4" [hidden]="role === enseignant || role === etudiant">
                <ng-template pTemplate="left">
                    <div class="my-2" >
                        <button pButton
                        pRipple label="Nouveau"
                        icon="pi pi-plus" 
                        class="p-button-primary mr-2"
                        (click)="openNew()"></button>
                    </div>
                </ng-template>
            </p-toolbar>
            
            <p-table #dt [value]="orientations" [columns]="cols" responsiveLayout="scroll" [rows]="12"
            [globalFilterFields]="['name','country.name','representative.name','status']" [rows]="12"
            [paginator]="true" [rowsPerPageOptions]="[12,20,30]" [showCurrentPageReport]="true"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            selectionMode="multiple" [rowHover]="true" dataKey="id">
            <ng-template pTemplate="caption">
                <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                    <h5 class="m-0">Liste d'orientations</h5>
                    <span class="block mt-2 md:mt-0 p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..."
                        class="w-full sm:w-auto" />
                    </span>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="code">#<p-sortIcon field="code"></p-sortIcon></th>
                    <th pSortableColumn="name">Option<p-sortIcon field="name"></p-sortIcon></th>
                    <th pSortableColumn="name">Orientation <p-sortIcon field="name"></p-sortIcon></th>
                    <th pSortableColumn="inventoryStatus">Site<p-sortIcon field="inventoryStatus"></p-sortIcon></th>
                    <th [hidden]="role === enseignant || role === etudiant"></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-orientation>
                <tr>
                    <td style="width:10%; min-width:5rem;"><span class="p-column-title">id</span>
                        {{orientation.id}}
                    </td>
                    
                    <td style="width:30%; min-width:12rem;">
                        <span class="p-column-title">libelle</span>
                        {{orientation.option}}
                    </td>
                    <td style="width:25%; min-width:12rem;">
                        <span class="p-column-title">dateC</span>
                        {{orientation.libelle}}
                    </td>
                    <td style="width:25%; min-width:12rem;">
                        <span class="p-column-title">sectionId</span>
                        {{orientation.site}}
                    </td>
                    
                    
                    
                    <td [hidden]="role === enseignant || role === etudiant">
                        <div class="flex">
                            <button pButton pRipple icon="pi pi-pencil"
                            class="p-button-rounded p-button-primary mr-2"
                            (click)=" edit(orientation.id)"></button>
                            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger"
                            (click)="deleteSelected(orientation.id)"></button>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <p-dialog [(visible)]="orientationDialog" [style]="{width: '450px'}" header="Orientation" [modal]="true"
    class="p-fluid">
    <ng-template pTemplate="content">
        <form [formGroup]="orientationForm">
            <div class="grid p-fluid mt-3">
                <div class="col-12 md:col-12">
                    <div class="p-inputgroup">
                        <span class="p-float-label">
                            <p-dropdown 
                            inputId="dropdown"
                            [autoDisplayFirst]="false"
                            [options]="options" 
                            [filter]="true" 
                            filterBy="libelle" 
                            [showClear]="true"
                            optionLabel="libelle" 
                            appendTo="body"
                            id="optionId"
                            required
                            autofocus
                            placeholder="Option"
                            formControlName="optionId">
                        </p-dropdown>
                        <label for="inputtext">Option</label>
                    </span>
                </div>
                <small
                class="p-error"
                *ngIf="
                orientationForm.controls['optionId'].dirty &&
                orientationForm.hasError('required', 'optionId')
                "
                >* Option obligatoire.</small
                >
            </div>
            
            <div class="col-12 md:col-12">
                <div class="p-inputgroup">
                    <span class="p-float-label">
                        <p-dropdown 
                        inputId="dropdown"
                        [autoDisplayFirst]="false"
                        [options]="sites" 
                        [filter]="true" 
                        filterBy="libelle" 
                        [showClear]="true"
                        optionLabel="libelle" 
                        appendTo="body"
                        id="siteId"
                        required
                        autofocus
                        placeholder="Site"
                        formControlName="siteId">
                    </p-dropdown>
                    <label for="inputtext">Site</label>
                </span>
                <button type="button" pButton pRipple icon="pi pi-plus"
                styleClass="p-button-warn"
                (click)="openSite()"></button>
            </div>
            <small
            class="p-error"
            *ngIf="
            orientationForm.controls['siteId'].dirty &&
            orientationForm.hasError('required', 'siteId')
            "
            >* Site obligatoire.</small
            >
        </div>
        
        <div class="field col-12 md:col-12">
            <span class="p-float-label">
                <input type="text" 
                pInputText 
                id="libelle" 
                required
                autofocus
                placeholder="Orientation"
                formControlName="libelle">
                <label for="inputtext">Orientation</label>
            </span>
        </div>
        <small
        class="p-error"
        *ngIf="
        orientationForm.controls['libelle'].dirty &&
        orientationForm.hasError('required', 'libelle')
        ">* Orientation obligatoire.</small >
    </div>
</form>
</ng-template>

<ng-template pTemplate="footer">
    <button pButton pRipple label="Fermer" icon="pi pi-times" class="p-button-text"
    (click)="hideDialog()"></button>
    <button pButton pRipple label="Enregistrer" icon="pi pi-check" class="p-button-text"
    (click)="addOrientation()"></button>
</ng-template>
</p-dialog>

<p-dialog [(visible)]="siteDialog" [style]="{width: '450px'}" header="Site" [modal]="true"
class="p-fluid">
<ng-template pTemplate="content">
    <form [formGroup]="siteForm">
        <div class="grid p-fluid mt-3">
            
            <div class="field col-12 md:col-12">
                <span class="p-float-label">
                    <input type="text" 
                    pInputText 
                    id="libelle" 
                    required
                    autofocus
                    placeholder="Site"
                    formControlName="libelle">
                    <label for="inputtext">Orientation</label>
                    <small
                    class="p-error"
                    *ngIf="
                    orientationForm.controls['libelle'].dirty &&
                    orientationForm.hasError('required', 'libelle')
                    "
                    >* Orientation obligatoire.</small
                    >
                </span>
                
            </div>
        </div>
    </form>
</ng-template>

<ng-template pTemplate="footer">
    <button pButton pRipple label="Fermer" icon="pi pi-times" class="p-button-text"
    (click)="hideSiteDialog()"></button>
    <button pButton pRipple label="Enregistrer" icon="pi pi-check" class="p-button-text"
    (click)="addSite()"></button>
</ng-template>
</p-dialog>

<p-dialog [(visible)]="deleteDialog" header="Confirmation" [modal]="true" [style]="{width:'450px'}">
    <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span *ngIf="orientation">Etes-vous sûr de supprimer <b>{{orientation.libelle}}</b>?</span>
    </div>
    <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="Non" (click)="deleteDialog = false"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Oui" (click)="delete(orientation.id)"></button>
    </ng-template>
</p-dialog>

</div>