.button-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 4px;
}

#pg{
    margin-top: -15px;
    font-size: smaller;
}

#rp{
    margin-left: 10px;
    margin-top: 5px;
}

#par{
    margin-top: -15px;
    font-size: smaller;
   // margin-left: 50px;
}