   <div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-table #dt [value]="products" [columns]="cols" responsiveLayout="scroll" [rows]="12"
            [globalFilterFields]="['name','country.name','representative.name','status']" [rows]="12"
            [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [(selection)]="selectedProducts" selectionMode="multiple" [rowHover]="true" dataKey="id">
            <ng-template pTemplate="caption" style="width: 1000px;">
                <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                    <div>
                        <h4 class="m-0">Toutes les questions</h4>
                        <p>5000 Questions</p>
                    </div>
                    <span class="block mt-2 md:mt-0 p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..."
                        class="w-full sm:w-auto" />
                    </span>   
                    <span class="block mt-2 md:mt-0 p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <button pButton pRipple label="Poser une question" icon="pi pi-plus" class="p-button-primary mr-2"
                        routerLink="/forum/question"></button>
                    </span>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="Title"> <p-sortIcon ></p-sortIcon></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product>
                <tr >
                    <p-card header="Title" routerLink="/forum/lecture" >
                        <p class="m-0">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
                            quas!
                        </p>
                    </p-card>
                </tr>
            </ng-template>
        </p-table>
    </div>  
</div>

