
<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast> 
            <p-table #dt [value]="horaires" [columns]="cols" responsiveLayout="scroll" [rows]="12"
            [globalFilterFields]="['name','country.name','representative.name','status']" [rows]="12"
            [paginator]="true" [rowsPerPageOptions]="[12,20,30]" [showCurrentPageReport]="true"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            selectionMode="multiple" [rowHover]="true" dataKey="id">
            <ng-template pTemplate="caption">
                <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                    <h4 class="m-0" [hidden]="role === admin">Horraire disponible</h4>
                    <div class="my-2" [hidden]="role === enseignant || role === etudiant">
                        <button pButton pRipple 
                        label="Nouveau"
                        icon="pi pi-plus" 
                        class="p-button-primary mr-2"
                        (click)="openNew()" ></button>
                    </div>
                    <span class="block mt-2 md:mt-0 p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..."
                        class="w-full sm:w-auto" />
                    </span>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="code">#</th>
                    <th pSortableColumn="name">Auditoire<p-sortIcon field="name"></p-sortIcon></th>
                    <th pSortableColumn="name">Cours<p-sortIcon field="name"></p-sortIcon></th>
                    <th pSortableColumn="name">Enseignant <p-sortIcon field="name"></p-sortIcon></th>
                    <th pSortableColumn="name">Date Debut<p-sortIcon field="name"></p-sortIcon></th>
                    <th pSortableColumn="name">Date Fin<p-sortIcon field="name"></p-sortIcon></th>
                    <th pSortableColumn="name">Heure Debut<p-sortIcon field="name"></p-sortIcon></th>
                    <th pSortableColumn="name">Heure Fin<p-sortIcon field="name"></p-sortIcon></th>
                    <th [hidden]="role === enseignant || role === etudiant"></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-horaire>
                <tr>
                    <td style="width:15%; min-width:5rem;"><span class="p-column-title">Code</span>
                        {{ horaire.id}}
                    </td>
                    <td style="width:20%; min-width:12rem;">
                        <span class="p-column-title">Name</span>
                        {{horaire.auditoire}}
                    </td>
                    <td style="width:20%; min-width:12rem;">
                        <span class="p-column-title">Name</span>
                        {{horaire.cours}}
                    </td>
                    <td style="width:20%; min-width:12rem;">
                        <span class="p-column-title">Name</span>
                        {{horaire.enseignant}}
                    </td>
                    
                    <td style="width:20%; min-width:12rem;">
                        <span class="p-column-title">Name</span>
                        {{horaire.dateDebut | date: 'dd/MM/yyyy'}}
                    </td>
                    <td style="width:20%; min-width:12rem;">
                        <span class="p-column-title">Name</span>
                        {{horaire.dateFin | date: 'dd/MM/yyyy'}}
                    </td>
                    
                    <td style="width:20%; min-width:12rem;">
                        <span class="p-column-title">Name</span>
                        {{horaire.heureDebut | date:'HH:mm' }}
                    </td>
                    
                    <td style="width:20%; min-width:12rem;">
                        <span class="p-column-title">Name</span>
                        {{horaire.heureFin | date:'HH:mm'}}
                    </td>
                    
                    
                    
                    <td [hidden]="role === enseignant || role === etudiant">
                        <div class="flex">
                            <button pButton pRipple icon="pi pi-pencil"
                            class="p-button-rounded p-button-primary mr-2"
                            (click)="edit(horaire.id)"></button>
                            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger"
                            (click)="deleteSelected(horaire.id)"></button>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <p-dialog [(visible)]="horaireDialog" [style]="{width: '450px'}" header="Horaire" [modal]="true"
    class="p-fluid">
    <ng-template pTemplate="content">
        <form [formGroup]="horaireForm">
            <div class="grid p-fluid mt-3">              
                
                <div class="field col-12 md:col-12">
                    <span class="p-float-label">
                        <p-dropdown 
                        inputId="dropdown"
                        [autoDisplayFirst]="false"
                        [options]="cours" 
                        [filter]="true" 
                        filterBy="titre" 
                        [showClear]="true"
                        optionLabel="titre" 
                        appendTo="body"
                        id="coursId"
                        required
                        autofocus
                        placeholder="Cours"
                        formControlName="coursId">
                    </p-dropdown>
                    <label for="inputtext">Cours</label>
                </span>
                <small
                class="p-error"
                *ngIf="
                horaireForm.controls['coursId'].dirty &&
                horaireForm.hasError('required', 'coursId')
                ">* cours obligatoire.</small>
            </div>
            
            <div class="field col-12 md:col-6">
                <span class="p-float-label">
                    <p-calendar
                    id="dateCours"
                    name="dateDebut"
                    formControlName="dateDebut"
                    [showIcon]="true"
                    required
                    appendTo="body">
                </p-calendar>
                <label for="dateDebut">Date debut</label>
            </span>
            <small
            class="p-error"
            *ngIf="
            horaireForm.controls['dateDebut'].dirty &&
            horaireForm.hasError('required', 'dateDebut')
            ">* date debut obligatoire.</small>
        </div>
        
        <div class="field col-12 md:col-6">
            <span class="p-float-label">
                <p-calendar
                id="dateFin"
                name="dateFin"
                formControlName="dateFin"
                [showIcon]="true"
                required 
                appendTo="body">
            </p-calendar>
            <label for="dateFin">Date fin</label>
        </span>
        <small
        class="p-error"
        *ngIf="
        horaireForm.controls['dateFin'].dirty &&
        horaireForm.hasError('required', 'dateFin')
        ">* date fin obligatoire.</small>
    </div>
    
    
    <div class="field col-12 md:col-6">
        <span class="p-float-label">
            <p-calendar 
            [showTime]="true"
            hourFormat="24"
            [timeOnly]="true"
            [showIcon]="true"
            id="heureDebut"
            name="heureDebut"
            formControlName="heureDebut"
            required
            appendTo="body">
        </p-calendar>
        <label for="inputtext">Heure debut</label>
    </span>
    <small
    class="p-error"
    *ngIf="
    horaireForm.controls['heureDebut'].dirty &&
    horaireForm.hasError('required', 'heureDebut')
    ">* heure debut obligatoire.</small>
</div>

<div class="field col-12 md:col-6">
    <span class="p-float-label">
        <p-calendar 
        [showTime]="true"
        hourFormat="24"
        [timeOnly]="true"
        [showIcon]="true"
        id="heureFin"
        name="heureFin"
        formControlName="heureFin"
        required
        appendTo="body">
    </p-calendar>
    <label for="inputtext">Heure fin</label>
</span>
<small
class="p-error"
*ngIf="
horaireForm.controls['heureFin'].dirty &&
horaireForm.hasError('required', 'heureFin')
">* heure fin obligatoire.</small>
</div>


</div>
</form>
</ng-template>

<ng-template pTemplate="footer">
    <button pButton pRipple label="Fermer" icon="pi pi-times" class="p-button-text"
    (click)="hideDialog()"></button>
    <button pButton pRipple label="Enregistrer" icon="pi pi-check" class="p-button-text"
    (click)="add()"></button>
</ng-template>
</p-dialog>

<p-dialog [(visible)]="deleteDialog" header="Confirmation" [modal]="true" [style]="{width:'450px'}">
    <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span *ngIf="horaire">Etes-vous sûr de supprimer le cours <b>{{horaire.coursId}}</b>?</span>
    </div>
    <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="Non" (click)="deleteDialog = false"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Oui" (click)="delete(etudiant.id)"></button>
    </ng-template>
</p-dialog>

</div>