<div class="grid">    
    <div class="col-12">
        <h5 id="isi">ISI-FORUM</h5>
        
    </div>
</div>

<div >
    <p-toast></p-toast> 
    <p-card header="POSEZ UNE BONNE QUESTION">
        <p class="m-0">
            Vous êtes prêt à poser une question  et ce formulaire vous guidera tout au long du processus. 
            Vous cherchez à poser une question non liée à la programmation ? 
            Voir les rubriques ici pour trouver un site pertinent.
        </p> 
        
        <h6>Étapes</h6>
        <ul>
            <li> Résumez votre problème dans un titre d'une ligne.</li>
            <li>Décrivez votre problème plus en détail. </li>
            <li> Décrivez ce que vous avez essayé et ce à quoi vous vous attendiez. </li>
            <li>Ajoutez des "tags" qui aident à présenter votre question aux membres de la communauté.</li>
            <li> Passez en revue votre question et postez-la sur le site.</li>
        </ul>
        
        <h5>Titre</h5>
        <p>Soyez précis et imaginez que vous posez une question à une autre personne.</p>  
        <div class="grid p-fluid mt-3">
            <div class="field col-12 md:col-12">
                <span class="p-float-label">
                    <input  pInputText 
                    type="text" 
                    id="titre"
                    name="titre" 
                    [(ngModel)]="question.titre"
                    />
                    <label for="titre">Exemple: Quel est l'élément typeScript utilisé pour spécifier Les types ?</label>
                </span>
            </div>
        </div>
        <h5>Quels sont les détails de votre problème ?</h5>
        <p style="margin-top: -15px;">Présentez le problème et développez ce que vous avez mis dans le titre. Minimum 20 caractères.</p>
        <div class="grid p-fluid mt-3">
            <div class="field col-12 md:col-12">
                <span class="p-float-label">
                    <textarea rows="5"
                    cols="157" 
                    id="contenu"
                    name="contenu"
                    [(ngModel)]="question.contenu"
                    pInputTextarea >
                </textarea>
            </span>
        </div>
        </div>
        
        <div id="btn" >
            <!-- <button routerLink="/conference/forum" pButton pRipple label="Annuler" icon="pi pi-times-circle" class="p-button-danger mr-2"></button> -->
            <button pButton pRipple 
            label="Soumettre"
            icon="pi pi-check"
            (click)="save()"
            class="p-button-primary mr-2">
        </button>
    </div>
    
</p-card>
</div>
