<div class="grid">
	<div class="col-12">
		<div class="card">
			<p-dataView #dv [value]="cours" [paginator]="true" [rows]="9" filterBy="titre" [sortField]="sortField" >
				<ng-template pTemplate="header">
					<div class="grid grid-nogutter flex-column md:flex-row justify-content-between">
						<span class="p-input-icon-left mb-2 md:mb-0">
							<i class="pi pi-search"></i>
							<input type="search" pInputText placeholder="Search by Name" (input)="dv.filter($event.target.value)">
						</span>	
						<p-dataViewLayoutOptions></p-dataViewLayoutOptions>
					</div>
				</ng-template>
				
				<ng-template let-cours pTemplate="listItem">
					<div class="col-12">
						<div class="flex flex-column md:flex-row align-items-center p-3 w-full"   [routerLink]="['/librairie','lib-lecture',cours.id]">
							<div class="flex-1 text-center md:text-left">
								<div class="font-bold text-2xl ">{{cours.titre}}</div>
								<div >Promotion : {{cours.libelleAudi}}</div>
								<div class="mb-3">Année académique : {{cours.annee}}</div>
								<div class="flex align-items-center mt-2">
									<i class="pi pi-tag mr-2"></i>
									<span class="font-semibold">{{cours.enseignant}}</span>
								</div>
							</div>							
						</div>
					</div>
				</ng-template>
				
				
			</p-dataView>
		</div>
	</div>
</div>
