<div class="grid layout-dashboard">
    <div class="col-12 xl:col-3 md:col-6">
        <div class="grid grid-nogutter widget-overview-box overview-box-1">
            <div class="col-3 overview-box-icon">
                <img src="assets/layout/images/dashboard/icon-messages.svg" alt="mirage-layout" />
            </div>
            <div class="col-6 overview-box-text">
                <h5>Nombre d'auditoire</h5>
                <span>24 new since last visit</span>
            </div>
            <div class="col-3 overview-box-status">
                440
            </div>
        </div>
    </div>
    <div class="col-12 xl:col-3 md:col-6">
        <div class="grid grid-nogutter widget-overview-box overview-box-2">
            <div class="col-3 overview-box-icon">
                <img src="assets/layout/images/dashboard/icon-checkins.svg" alt="mirage-layout" />
            </div>
            <div class="col-6 overview-box-text">
                <h5>Nombre d'etudiant</h5>
                <span>48 new since last visit</span>
            </div>
            <div class="col-3 overview-box-status">
                532
            </div>
        </div>
    </div>
    <div class="col-12 xl:col-3 md:col-6">
        <div class="grid grid-nogutter widget-overview-box overview-box-3">
            <div class="col-3 overview-box-icon">
                <img src="assets/layout/images/dashboard/icon-filessynced.svg" alt="mirage-layout" />
            </div>
            <div class="col-6 overview-box-text">
                <h5>Nombre de cours</h5>
                <span>32,56 / 250 GB</span>
            </div>
            <div class="col-3 overview-box-status">
                28
            </div>
        </div>
    </div>
    <div class="col-12 xl:col-3 md:col-6">
        <div class="grid grid-nogutter widget-overview-box overview-box-4">
            <div class="col-3 overview-box-icon">
                <img src="assets/layout/images/dashboard/icon-usersonline.png" alt="mirage-layout" />
            </div>
            <div class="col-6 overview-box-text">
                <h5>Nombre d'heure</h5>
                <span>72 new user this week</span>
            </div>
            <div class="col-3 overview-box-status">
                256
            </div>
        </div>
    </div>
     
    <div class="col-12 lg:col-4 md:col-6">
        <div class="card widget-tasks">
            <div class="card-header">
                <div class="title">
                    <h5>Cours à venir</h5>
                </div>
                <div class=" task-info">
                    <span>You have</span><span class="highlighted"> 2 tasks</span><span> today</span>
                </div>
            </div>
            <ul class="checkboxes">
                <li class="checkbox-row">
                    <div class="grid">
                        <div class="col-6 checkbox">
                            <p-checkbox binary="true"></p-checkbox>
                            <p>Sales Report</p>
                        </div>
                        <div class="col-6 checkbox-row-info">
                            <span class="time">Today</span>
                            <i class="pi pi-tag"></i>
                            <i class="pi pi-calendar"></i>
                            <i class="pi pi-bookmark"></i>
                        </div>
                    </div>
                </li>
                
                <li class="checkbox-row even">
                    <div class="grid">
                        <div class="col-6 checkbox">
                            <p-checkbox binary="true"></p-checkbox>
                            <p>Pay Invoices</p>
                        </div>
                        <div class="col-6 checkbox-row-info">
                            <span class="time">Today</span>
                            <i class="pi pi-tag"></i>
                            <i class="pi pi-calendar"></i>
                            <i class="pi pi-bookmark"></i>
                        </div>
                    </div>
                </li>
                
                <li class="checkbox-row">
                    <div class="grid">
                        <div class="col-6 checkbox">
                            <p-checkbox binary="true"></p-checkbox>
                            <p>Customer Meeting</p>
                        </div>
                        <div class="col-6 checkbox-row-info">
                            <span class="time later">Later</span>
                            <i class="pi pi-tag"></i>
                            <i class="pi pi-calendar"></i>
                            <i class="pi pi-bookmark"></i>
                        </div>
                    </div>
                </li>
                
                <li class="checkbox-row even">
                    <div class="grid">
                        <div class="col-6 checkbox">
                            <p-checkbox binary="true"></p-checkbox>
                            <p>Expense Reports</p>
                        </div>
                        <div class="col-6 checkbox-row-info">
                            <span class="time later">Later</span>
                            <i class="pi pi-tag"></i>
                            <i class="pi pi-calendar"></i>
                            <i class="pi pi-bookmark"></i>
                        </div>
                    </div>
                </li>
                
                <li class="checkbox-row">
                    <div class="grid">
                        <div class="col-6 checkbox">
                            <p-checkbox binary="true"></p-checkbox>
                            <p>Plane tickets</p>
                        </div>
                        <div class="col-6 checkbox-row-info">
                            <span class="time later">Later</span>
                            <i class="pi pi-tag"></i>
                            <i class="pi pi-calendar"></i>
                            <i class="pi pi-bookmark"></i>
                        </div>
                    </div>
                </li>
                
                <li class="checkbox-row even">
                    <div class="grid">
                        <div class="col-6 checkbox">
                            <p-checkbox binary="true"></p-checkbox>
                            <p>Dinner with Tony</p>
                        </div>
                        <div class="col-6 checkbox-row-info">
                            <span class="time later">Later</span>
                            <i class="pi pi-tag"></i>
                            <i class="pi pi-calendar"></i>
                            <i class="pi pi-bookmark"></i>
                        </div>
                    </div>
                </li>
                
                <li class="checkbox-row">
                    <div class="grid">
                        <div class="col-6 checkbox">
                            <p-checkbox binary="true"></p-checkbox>
                            <p>Dentist</p>
                        </div>
                        <div class="col-6 checkbox-row-info">
                            <span class="time later">Later</span>
                            <i class="pi pi-tag"></i>
                            <i class="pi pi-calendar"></i>
                            <i class="pi pi-bookmark"></i>
                        </div>
                    </div>
                </li>
                
                <li class="checkbox-row even">
                    <div class="grid">
                        <div class="col-6 checkbox">
                            <p-checkbox binary="true"></p-checkbox>
                            <p>Lunch with John</p>
                        </div>
                        <div class="col-6 checkbox-row-info">
                            <span class="time later">Later</span>
                            <i class="pi pi-tag"></i>
                            <i class="pi pi-calendar"></i>
                            <i class="pi pi-bookmark"></i>
                        </div>
                    </div>
                </li>
                
                <li class="checkbox-row">
                    <div class="grid">
                        <div class="col-6 checkbox">
                            <p-checkbox binary="true"></p-checkbox>
                            <p>Customer service</p>
                        </div>
                        <div class="col-6 checkbox-row-info">
                            <span class="time later">Later</span>
                            <i class="pi pi-tag"></i>
                            <i class="pi pi-calendar"></i>
                            <i class="pi pi-bookmark"></i>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-12 lg:col-4 md:col-6">
        <div class="card widget-support-request">
            <div class="grid grid-nogutter">
                <div class="col-6 title">
                    <h5>Evènements à venir</h5>
                </div>
                <div class="col-6 support-info">
                    <p>⏰ Estimated wait time</p>
                    <span class="highlighted">21 minutes</span>
                </div>
            </div>
            
            <label for="resolution-username">Username</label>
            <input pInputText type="text" id="resolution-username" placeholder="Type your username..." />
            
            <label for="resolution-message">Message</label>
            <textarea type="text" pInputTextarea id="resolution-message" [rows]="8" placeholder="Type your message..." [autoResize]="false" ></textarea>
            
            <div class="resolution-button-bar">
                <button type="button" label="Send Request" icon="pi pi-star" pButton></button>
                <button type="button" label="Save as Draft" pButton class="p-button-secondary p-button-text"></button>
            </div>
        </div>
    </div>
    <div class="col-12 lg:col-4">
        <div class="card widget-team">
            <h5>Calendrier</h5>
            <p-calendar class="max-w-full"  [inline]="true" [showWeek]="true"></p-calendar> 
        </div>
    </div>   
</div>
