<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <h5 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">ISI-LECTURE</h5>
            <div style="display: flex;">
                <div>
                    <div class="my-2" >
                        <img src="assets/layout/images/java.jpeg" alt="" style="width: 700px;height: 300px; border-radius:5px;">
                        <h4>Java</h4>
                    </div>
                    <div style=" width: 700px;">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi voluptates, dolore ea voluptatibus tenetur a placeat iusto voluptas. Esse repudiandae nam reiciendis aliquam. Vel doloremque fugiat corrupti, beatae repellendus voluptas.
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque natus esse, inventore consequuntur temporibus suscipit aut tempora ex expedita sapiente maiores distinctio fuga, minima et aliquam cumque repellendus quisquam iusto.
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint, suscipit! Molestias qui pariatur nulla velit inventore amet quasi ea architecto sit eum rem, obcaecati dolorem, maiores, laborum ratione animi tempora!
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque repudiandae maiores magnam quae molestias repellat facere, quisquam in hic doloremque, explicabo suscipit? Minima, magni? Sapiente esse pariatur ea sit nostrum?
                    </div>                    
                    
                    <div style="margin-top: 20px;">
                        <p-panel header="A propos de l'auteur">
                            <div style="display: flex;">
                                <div>
                                    <img src="assets/layout/images/angular.jpeg" alt="" style="height: 40px; width: 40px;  border-radius:50%;">
                                </div>
                                <div style="margin-left: 10px;">
                                    <h5>Providence </h5>
                                    <p  style="margin-top: -15px;">Genie logiciel </p>
                                    <p style="margin-top: -15px;"> L1GL </p>
                                </div>
                            </div>
                        </p-panel>
                    </div>
                    <div style="margin-top: 10px;">
                        <p-panel header="Commentaires 5">
                            <div style="display: flex;">
                                <div>
                                    <img src="assets/layout/images/angular.jpeg" alt="" style="height: 30px; width: 30px;  border-radius:50%;">
                                </div>
                                <div style="margin-left: 10px;">
                                    <h5>Arthur </h5>
                                    <p style="margin-top: -15px; font-size:smaller;"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi voluptates, dolore ea voluptatibus tenetur a placeat iusto voluptas. Esse repudiandae nam reiciendis aliquam. Vel doloremque fugiat corrupti, beatae repellendus voluptas. </p>
                                </div>
                            </div>
                            
                            <div style="display: flex; margin-top: 8px; margin-bottom: 8px;">
                                <div> <img src="assets/layout/images/reply-arrow.png" alt="" style="height: 20px; width: 20px;  border-radius:50%; margin-left:50px;"> </div>
                                <div style="margin-left: 5px;">Reply</div>
                            </div>
                            <div style="display: flex;">
                                <div style="margin-left: 50px;">
                                    <img src="assets/layout/images/angular.jpeg" alt="" style="height: 30px; width: 30px;  border-radius:50%;">
                                </div>
                                <div style="margin-left: 5px;">
                                    <h5>Samuel </h5>
                                    <p style="margin-top: -15px; font-size:smaller"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi voluptates, dolore ea voluptatibus tenetur a placeat iusto voluptas. Esse repudiandae nam reiciendis aliquam. Vel doloremque fugiat corrupti, beatae repellendus voluptas. </p>
                                </div>
                            </div>                            
                        </p-panel>
                    </div>
                    <div style="display: flex; ">
                        <div style="margin-top: 5px; width:700px;">
                            <hr>
                            <h5>Laisser un commentaire</h5>
                            <textarea rows="5" cols="105" pInputTextarea placeholder="Votre commentaire"></textarea>
                            <div style="margin-top: 10px;">
                                <!-- <button pButton routerLink="/conference/forum" pRipple label="Annuler" icon="pi pi-times-circle" class="p-button-danger mr-2"></button> -->
                                <button pButton pRipple label="Soumettre" icon="pi pi-check" class="p-button-primary mr-2"></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="width: 500px;  margin-left: 20px; "> 
                    <p-panel header="Header" >
                        <p >
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                    </p-panel>
                </div>                
            </div>
        </div>
    </div>