<div class="border-round border-1 surface-border p-4 surface-card">
    <div class="flex mb-3">
        <p-avatar  size="large" 
        styleClass="mr-2"
        shape="circle"
        [image]="etudiant.photo"></p-avatar>
        <div style="flex: 1">
            <div>
                <p width="100%" 
                styleClass="mb-2 " 
                style="font-weight: bold;">{{etudiant.nom}} {{etudiant.postnom }} {{etudiant.prenom}}</p></div>
                <div>
                    <p style="font-style: smaller;">{{etudiant.auditoire}}</p>
                </div>
            </div>
        </div>
        <div  *ngFor="let message of tableauFinal">
            
            <div  class="flex align-items-center p-1 w-full flex-wrap" *ngIf="message.author == author">
                <div id="p" >
                    <p  >{{message.text}}</p>
                    <p class="flex flex-column align-items-end" id="date">{{message.sentAt | date:'dd/MM/yyyy HH:mm'}}</p>
                </div>
            </div>
            
            <div class="flex flex-column align-items-end mt-2" *ngIf="message.author == etudiantId">
                <div id="ps">
                    <p  > {{message.text}}</p>
                    <p class="flex flex-column align-items-end" id="date">{{message.sentAt | date:'dd/MM/yyyy HH:mm'}}</p>
                </div>
            </div>
            
        </div>
        <div class="flex justify-content-between mt-3">
            <textarea rows="1" cols="178"
            pInputTextarea 
            [(ngModel)]="message.text"
            [autoResize]="true">
        </textarea>
        <p-button
        icon="pi pi-send"
        (onClick)="send()"
        styleClass="p-button-rounded p-button-primary">
    </p-button>
    
</div>   

</div>
