#p{
   background-color: rgb(235, 237, 239); 
   color:rgb(49, 22, 109);
   border-radius:4px;
}
#ps{
   background-color: rgb(40, 110, 181); 
   color:rgb(245, 244, 247);
   border-radius:4px;
}
#date{
 font-size: x-small;
 margin-top: -17px;
}

hr{
    width: 400px;
}