<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-table #dt [value]="examens" [columns]="cols" responsiveLayout="scroll" [rows]="12"
            [globalFilterFields]="['name','country.name','representative.name','status']" [rows]="12"
            [paginator]="true" [rowsPerPageOptions]="[12,20,30]" [showCurrentPageReport]="true"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            selectionMode="multiple" [rowHover]="true" dataKey="id">
            <ng-template pTemplate="caption">
                <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                    <div class="my-2"  [hidden]="role === admin || role === etudiant">
                        <button pButton pRipple
                        label="Nouvelle évaluation"
                        icon="pi pi-plus" 
                        class="p-button-primary mr-2"
                        routerLink="/evaluation/examen"></button>
                    </div>
                    <h4 class="m-0" id="titre"  [hidden]="role === enseignant">Liste d'évaluations</h4>
                    <span class="block mt-2 md:mt-0 p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..."
                        class="w-full sm:w-auto" />
                    </span>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>                    
                    <th pSortableColumn="code">No</th>
                    <th pSortableColumn="code">Cours</th>
                    <th pSortableColumn="name">Intitulé <p-sortIcon field="name"></p-sortIcon></th>
                    <th pSortableColumn="name">Date<p-sortIcon field="name"></p-sortIcon></th>
                    <th pSortableColumn="name">Durée<p-sortIcon field="name"></p-sortIcon></th>
                    <th pSortableColumn="name">Heure début<p-sortIcon field="name"></p-sortIcon></th>
                    <th pSortableColumn="name">Heure fin<p-sortIcon field="name"></p-sortIcon></th>
                    <th [hidden]="role === enseignant || role === admin"> </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-examen>
                <tr>                        
                    <td style="width:15%; min-width:5rem;"><span class="p-column-title">Code</span>
                        {{examen.id}}
                    </td>
                    <td style="width:20%; min-width:12rem;">
                        <span class="p-column-title">Name</span>
                        {{examen.cours}}
                    </td>
                    <td style="width:20%; min-width:12rem;">
                        <span class="p-column-title">Name</span>
                        {{examen.libelle}}
                    </td>
                    <td style="width:20%; min-width:12rem;">
                        <span class="p-column-title">Name</span>
                        {{examen.dateQuiz | date:'dd-MM-yyyy ' }}
                    </td>
                    <td style="width:20%; min-width:12rem;">
                        <span class="p-column-title">Name</span>
                        {{examen.duree}} heure(s)
                    </td>
                    
                    <td style="width:20%; min-width:12rem;">
                        <span class="p-column-title">Name</span>
                        {{examen.heureDebut | date:'HH:mm'}}
                    </td>
                    
                    <td style="width:20%; min-width:12rem;">
                        <span class="p-column-title">Name</span>
                        {{examen.heureFin | date:'HH:mm' }}
                    </td>
                    
                    <td [hidden]="role === enseignant || role === admin">
                        <div class="flex">
                            <p-button label="Démarrer" 
                            icon="pi pi-spin pi-spinner" 
                            styleClass="p-button-sm" 
                            class="p-button-success"  
                            [routerLink]="['/evaluation','tp',examen.id]">
                        </p-button>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
</div>