<div class="grid layout-dashboard">
    <!-- <div class="col-12 xl:col-12 md:col-12">
        <div class="grid grid-nogutter widget-overview-box overview-box-1">
            <div class="col-3 overview-box-icon">
                <img src="assets/layout/images/dashboard/icon-messages.svg" alt="mirage-layout" />
            </div>
        </div>
    </div> -->
    <!-- <div class="col-12 xl:col-12 md:col-12">
        <div class="grid grid-nogutter widget-overview-box overview-box-2">
            <div class="col-3 overview-box-icon">
                <img src="assets/layout/images/dashboard/icon-checkins.svg" alt="mirage-layout" />
            </div>
            <div class="col-6 overview-box-text">
                <h5>Enseignants</h5>
                <span>48 new since last visit</span>
            </div>
            <div class="col-3 overview-box-status">
                532
            </div>
        </div>
    </div> -->
    <!-- <div class="col-12 xl:col-3 md:col-6">
        <div class="grid grid-nogutter widget-overview-box overview-box-3">
            <div class="col-3 overview-box-icon">
                <img src="assets/layout/images/dashboard/icon-filessynced.svg" alt="mirage-layout" />
            </div>
            <div class="col-6 overview-box-text">
                <h5>Departements</h5>
                <span>32,56 / 250 GB</span>
            </div>
            <div class="col-3 overview-box-status">
                28
            </div>
        </div>
    </div> -->
    <!-- <div class="col-12 xl:col-3 md:col-6">
        <div class="grid grid-nogutter widget-overview-box overview-box-4">
            <div class="col-3 overview-box-icon">
                <img src="assets/layout/images/dashboard/icon-usersonline.png" alt="mirage-layout" />
            </div>
            <div class="col-6 overview-box-text">
                <h5>Cours</h5>
                <span>72 new user this week</span>
            </div>
            <div class="col-3 overview-box-status">
                256
            </div>
        </div>
    </div>  -->
    
    
    <div class="col-12 lg:col-12">
        <div class="card card-w-title statistics ">
            <img class="col-10 lg:col-10 ml-8" src="assets/layout/images/eLearning.png" alt="mirage-layout" />
        </div>
    </div>
    
    
</div>
