<div class=grid>
    <div class="col-12">
        <h5 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">ISI-TEST</h5>
        <div class="card px-6 py-12" style="display: flex;">
            <div>
                <form [formGroup]="questionForm">
                    <div class="col-12 md:col-10">               
                        <div class="p-inputgroup">
                            <span class="p-float-label">
                                <input pInputText type="text" class="p-inputtext-sm" placeholder="Small" formControlName="libelle" />  
                                <label for="inputtext">Libellé</label>
                            </span>                    
                        </div>
                    </div>
                    <div class="col-12 md:col-10" style="margin-top:5px;">
                        <div class="p-inputgroup">
                            <span class="p-float-label">
                                <p-dropdown inputId="dropdown" optionLabel="name" formControlName="cours"></p-dropdown>
                                <label for="inputtext">Intitulé du cours</label>
                            </span>                    
                        </div>
                    </div>
                    <hr style="width: 400px;">
                    <h5 style="margin-top: 20px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: rgb(47, 119, 178); font-size: large;">Question au choix</h5>
                    <!-- <p>Soyez précis et imaginez que vous posez la question à une autre personne.</p>             -->
                    <div class="col-12 md:col-10" style="margin-top:5px;">
                        <div class="p-inputgroup">
                            <span class="p-float-label">
                                <textarea id="float-input" rows="5" cols="70" pInputTextarea formControlName="question"></textarea>
                                <label for="float-input">Exemple: Angular est basé sur quelle architecture ?</label>
                            </span>                    
                        </div>
                    </div>            
                    <h5 style="margin-top: 20px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: rgb(47, 119, 178); font-size: large;">Reponses </h5>
                    <p>Cliquer ci-dessous pour ajouter une reponse, Ensuite 
                        cocher la bonne reponse. </p>
                        <div>
                            <button pButton pRipple label="" icon="pi pi-plus" class="p-button-primary mr-2" (click)="addNewRows()"></button>
                        </div>
                        <p-table [value]="newRowsList.controls" >
                            <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
                                <ng-container formArrayName="questionDetailist"> 
                                    <tr [formGroupName]="rowIndex" >
                                        <td>                               
                                            <div class="col-12 md:col-12" >
                                                <div class="p-inputgroup">
                                                    <span class="p-float-label">
                                                        <input pInputText type="text" class="p-inputtext-sm" placeholder="Small"  formControlName="response" id="response" name="response" />  
                                                    </span>       
                                                    <p-checkbox  [binary]="true" inputId="binary" style="margin-left:10px;"  formControlName="assertion" id="assertion" name="assertion"></p-checkbox>    
                                                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                                                    (click)="remove(rowIndex)" style="margin-left:10px;"></button>         
                                                </div>                            
                                            </div>                                
                                        </td>
                                    </tr>                       
                                </ng-container>
                            </ng-template>
                        </p-table>
                        <!-- <div style="margin-top: 10px;">
                            <button pButton pRipple label="Valider" icon="pi pi-check" class="p-button-primary mr-2"></button>
                        </div>                    -->
                        <!-- <hr style="width:500px;">
                            <div style="margin-top: 10px; ">
                                <button pButton pRipple label="Annuler" icon="pi pi-check" class="p-button-danger mr-2"></button>
                                <button pButton pRipple label="Terminer" icon="pi pi-check" class="p-button-primary mr-2" routerLink="/evaluation/interro" ></button>
                            </div>   -->
                        </form> 
                    </div>
                    <div>
                        <form [formGroup]="questionForm"> 
                            <div class="col-12 md:col-10" style="margin-top:5px;">
                                <div class="p-inputgroup">
                                    <span class="p-float-label">
                                        <p-dropdown inputId="dropdown" optionLabel="name" formControlName="cours"></p-dropdown>
                                        <label for="inputtext">Type question</label>
                                    </span>                    
                                </div>
                            </div>
                            <hr style="width: 400px;">
                            <h5 style="margin-top: 20px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: rgb(47, 119, 178); font-size: large; margin-top: 60px;">Question ouverte</h5>
                            <!-- <p>Soyez précis et imaginez que vous posez la question à une autre personne.</p>             -->
                            <div class="col-12 md:col-10" style="margin-top:5px;">
                                <div class="p-inputgroup">
                                    <span class="p-float-label">
                                        <textarea id="float-input" rows="5" cols="70" pInputTextarea formControlName="question"></textarea>
                                        <label for="float-input">Exemple: Angular est basé sur quelle architecture ?</label>
                                    </span>                    
                                </div>
                            </div>            
                            <!-- <h5>Reponses</h5> -->
                            <!-- <p>Cocher la bonne reponse dans la zone droite </p>
                                <div>
                                    <button pButton pRipple label="" icon="pi pi-plus" class="p-button-primary mr-2" (click)="addNewRows()"></button>
                                </div> -->
                                <!-- <p-table [value]="newRowsList.controls" >
                                    <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
                                        <ng-container formArrayName="questionDetailist"> 
                                            <tr [formGroupName]="rowIndex" >
                                                <td>                               
                                                    <div class="col-12 md:col-6" >
                                                        <div class="p-inputgroup">
                                                            <span class="p-float-label">
                                                                <input pInputText type="text" class="p-inputtext-sm" placeholder="Small"  formControlName="response" id="response" name="response" />  
                                                            </span>       
                                                            <p-checkbox  [binary]="true" inputId="binary" style="margin-left:10px;"  formControlName="assertion" id="assertion" name="assertion"></p-checkbox>             
                                                        </div>                            
                                                    </div>                                
                                                </td>
                                            </tr>                       
                                        </ng-container>
                                    </ng-template>
                                </p-table> -->
                                <!-- <div style="margin-top: 10px;">
                                    <button pButton pRipple label="Valider" icon="pi pi-check" class="p-button-primary mr-2"></button>
                                </div>                    -->
                                <hr style="width:400px;">
                                <div style="margin-top: 10px; ">
                                    <button pButton pRipple label="Annuler" icon="pi pi-check" class="p-button-danger mr-2"></button>
                                    <button pButton pRipple label="Valider" icon="pi pi-check" class="p-button-primary mr-2" routerLink="/evaluation/interro" ></button>
                                    <button pButton pRipple label="Terminer" icon="pi pi-check" class="p-button-success mr-2" routerLink="/evaluation/interro" ></button>
                                </div>  
                            </form> 
                        </div>
                        
                    </div>            
                </div>
                <!-- <pre>
                    {{questionForm.value | json}}
                </pre> -->
                