h5{
    margin-top: 20px;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
     color: rgb(47, 119, 178); font-size: large;
}

#erea{
    margin-top: 5px;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

#assertion{
    margin-left:10px;
}

#removes{
    margin-left:10px;
   
}

#remove{
    margin-left:10px;
    // margin-top: 10px;
}

#correct{
    margin-left: 10px;
}