<div class="grid">
    <p-toast></p-toast>
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-table #dt [value]="departements" [columns]="cols" responsiveLayout="scroll" [rows]="12"
            [globalFilterFields]="['name','country.name','representative.name','status']" [rows]="12"
            [paginator]="true" [rowsPerPageOptions]="[12,20,30]" [showCurrentPageReport]="true"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            selectionMode="multiple" [rowHover]="true" dataKey="id">
            <ng-template pTemplate="caption">
                <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                    <h5 class="m-0"  [hidden]="role === admin">Liste des departements</h5>
                    <div class="my-2" [hidden]="role === enseignant || role === etudiant">
                        <button pButton pRipple label="Nouveau" icon="pi pi-plus" class="p-button-primary mr-2"
                        (click)="openNew()"></button>
                    </div>
                    <span class="block mt-2 md:mt-0 p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..."
                        class="w-full sm:w-auto" />
                    </span>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="code">#<p-sortIcon field="code"></p-sortIcon></th>
                    <th pSortableColumn="name">Section <p-sortIcon field="name"></p-sortIcon></th>
                    <th pSortableColumn="name">Departement<p-sortIcon field="name"></p-sortIcon></th>
                    <th pSortableColumn="inventoryStatus">Date<p-sortIcon field="inventoryStatus"></p-sortIcon></th>
                    <th [hidden]="role === enseignant || role === etudiant"></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-departement>
                <tr>
                    <td style="width:10%; min-width:5rem;"><span class="p-column-title">id</span>
                        {{departement.id}}
                    </td>
                    
                    <td style="width:20%; min-width:12rem;">
                        <span class="p-column-title">sectionId</span>
                        {{departement.section}}
                    </td>
                    
                    <td style="width:30%; min-width:12rem;">
                        <span class="p-column-title">libelle</span>
                        {{departement.libelle}}
                    </td>
                    
                    <td style="width:20%; min-width:12rem;">
                        <span class="p-column-title">dateC</span>
                        {{departement.dateC | date:'dd/MM/yyyy' }}
                    </td>
                    
                    <td [hidden]="role === enseignant || role === etudiant">
                        <div class="flex" >
                            <button pButton pRipple icon="pi pi-pencil"
                            class="p-button-rounded p-button-primary mr-2"
                            (click)=" edit(departement.id)"></button>
                            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger"
                            (click)="deleteSelected(departement.id)"></button>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <p-dialog [(visible)]="departementDialog" [style]="{width: '450px'}" header="Departement" [modal]="true"
    class="p-fluid">
    <ng-template pTemplate="content">
        <form [formGroup]="departementForm">
            <div class="grid p-fluid mt-3">
                <div class="col-12 md:col-12">
                    <div class="p-inputgroup">
                        <span class="p-float-label">
                            <p-dropdown 
                            inputId="dropdown"
                            [autoDisplayFirst]="false"
                            [options]="sections" 
                            [filter]="true" 
                            filterBy="libelle" 
                            [showClear]="true"
                            optionLabel="libelle" 
                            appendTo="body"
                            id="sectionId"
                            required
                            autofocus
                            placeholder="section"
                            formControlName="sectionId">
                        </p-dropdown>
                        <label for="inputtext">Section</label>
                    </span>
                    <button type="button" pButton pRipple icon="pi pi-plus"
                    styleClass="p-button-warn"
                    (click)="openSection()"></button>
                    
                </div>
                <small
                class="p-error"
                *ngIf="
                departementForm.controls['sectionId'].dirty &&
                departementForm.hasError('required', 'sectionId')
                "
                >* section obligatoire.</small>
            </div>
            
            <div class="field col-12 md:col-12">
                <span class="p-float-label">
                    <input type="text" 
                    pInputText 
                    id="libelle" 
                    required
                    autofocus
                    placeholder="Departement"
                    formControlName="libelle">
                    <label for="inputtext">Departement</label>
                    <small
                    class="p-error"
                    *ngIf="
                    departementForm.controls['libelle'].dirty &&
                    departementForm.hasError('required', 'libelle')
                    "
                    >* Departement obligatoire.</small
                    >
                </span>
                
            </div>
        </div>
    </form>
</ng-template>
<ng-template pTemplate="footer">
    <button pButton pRipple label="Fermer" icon="pi pi-times" class="p-button-text"
    (click)="hideDialog()"></button>
    <button pButton pRipple label="Enregistrer" icon="pi pi-check" class="p-button-text"
    (click)="addDep()"></button>
</ng-template>
</p-dialog>

<p-dialog [(visible)]="sectionDialog" [style]="{width: '400px'}" header="Section" [modal]="true"
class="p-fluid">
<ng-template pTemplate="content">
    <form [formGroup]="sectionForm">
        <div class="grid p-fluid mt-3">
            <div class="field col-12 md:col-12">
                <span class="p-float-label">
                    <input type="text" id="inputtext"
                    pInputText 
                    id="designation"
                    required
                    autofocus
                    placeholder="designation"
                    formControlName="designation"
                    />
                    <label for="inputtext">Désignation</label>
                    <small
                    class="p-error"
                    *ngIf="
                    sectionForm.controls['designation'].dirty &&
                    sectionForm.hasError('required', 'designation')
                    "
                    >* designation obligatoire.</small
                    >
                </span>
            </div>
        </div>
    </form>
    
</ng-template>

<ng-template pTemplate="footer">
    <button pButton pRipple label="Fermer" icon="pi pi-times" class="p-button-text"
    (click)="hideSection()"></button>
    <button pButton pRipple label="Enregistrer" icon="pi pi-check" class="p-button-text"
    (click)="addSection()"></button>
</ng-template>
</p-dialog>

<p-dialog [(visible)]="deleteDialog" header="Confirmation" [modal]="true" [style]="{width:'450px'}">
    <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span *ngIf="departement">Etes-vous sûr de supprimer <b>{{departement.libelle}}</b>?</span>
    </div>
    <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="Non" (click)="deleteDialog = false"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Oui" (click)="delete(departement.id)"></button>
    </ng-template>
</p-dialog>

</div>